@import 'src/styles/variables';

.bg-off-white {
  background-color: $bg-off-white;
}

.rounded-md {
  border-radius: $border-radius-md;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}