@import "src/styles/variables";

.bg-off-white {
  background-color: $bg-off-white;
}

.rounded-md {
  border-radius: $border-radius-md;
}

.required-indicator {
  color: $error-color;
  margin-left: 2px;
}
