<ng-container *ngIf="url">
    <ng-container *ngIf="media_type=='VIDEO'">
        <video controls (error)="onMediaLoadError()">
            <source [src]="url" type="video/mp4">
        </video>
    </ng-container>
    <ng-container *ngIf="media_type=='IMAGE'">
        <img [src]="url" alt="" (error)="onMediaLoadError()">
    </ng-container>
</ng-container>
<ng-container *ngIf="showFallbackThumbnail">
    <div class="default-thumbnail-image">
        <img src="assets/images/no-thumbnail.png" alt="No thumbnail">
    </div>
</ng-container>
