.online-exam-success{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 20px;
	width:calc(100% - 30px);
	margin-top: 70px;
}

.online-exam-success svg{
	width: 120px;
}
    
.alert-success{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
    
.online-exam-success .success-summary{
    font-size: 12px;
    color: #666;
}