@import 'variables';

// Form Groups


.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.25rem;
        font-size: .875rem;
        padding-left: 8px;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #111;
        border-radius: 8px;
        font-family: inherit;
        min-height: 40px;
        font-size: .875rem;
        transition: $transition-base;

        &:focus {
            outline: none;
            border-color: $primary-color;
            box-shadow: 0 0 0 4px rgba($primary-color, 0.05);
        }

        &::placeholder {
            color: $text-muted;
            opacity: 0.6;
        }
    }

    textarea {
        min-height: 120px;
        resize: vertical;
    }
}

.form-group-split-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 500px) {
        gap: 0;
    }

    .form-group {
        width: calc(50% - 10px);
    }

    @media (max-width: 500px) {
        .form-group {
            width: 100%;
        }
    }
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid $border-color;
}

// Error states
.invalid-feedback {
    color: $error-color;
    margin-top: 0.25rem;
    font-size: .875rem;

}

input.ng-invalid.ng-touched {
    border-color: $error-color;
}

.button-group {
    display: flex;

    >* {
        width: 100%;
        padding-bottom: 24px;
    }
}

.alert-error {
    background: #fff0e9;
    margin: 24px 0;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ffc107;
    color: $error-color;

    .btn-close {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: $error-color;
    }
}

button:disabled {
    cursor: not-allowed;
    opacity: .6;
}