<div class="toast-container" *ngIf="showErrorToast && errorMessage">
  <div class="toast-notification error">
    <span class="toast-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px" aria-hidden="true">
        <circle cx="24" cy="24" r="20" fill="#e53935" />
        <path fill="#fff" d="M22 14h4v16h-4V14zm0 20h4v4h-4v-4z" />
      </svg>
    </span>
    <div class="toast-message">{{ errorMessage }}</div>
  </div>
</div>

<div class="file-viewer-contianer">
    <ng-container *ngIf="file && fileUrl">

        <div class="video-container" *ngIf="file.file_content_type=='VIDEO'">
            <app-video-player [videoUrl]="fileUrl" (onFileCompleted)="onFileCompleted($event)"></app-video-player>
        </div>
        <div class="pdf-container" *ngIf="file.file_content_type=='PDF'">
            <app-pdf-viewer (onFileCompleted)="onFileCompleted($event)" [pdfUrl]="fileUrl"></app-pdf-viewer>
        </div>
        <div class="image-container" *ngIf="file.file_content_type=='IMAGE'">
            <app-img-viewer (onFileCompleted)="onFileCompleted($event)" [imageUrl]="fileUrl"></app-img-viewer>
        </div>
        <div class="html-container" *ngIf="file.file_content_type=='TEXT'">
            <app-html-viewer></app-html-viewer>
        </div>
        <div class="generic-container" *ngIf="file.file_content_type=='FILE'">
            <app-generic-file [fileUrl]="fileUrl" [fileName]="file.file_name"
                (onFileCompleted)="onFileCompleted($event)"></app-generic-file>
        </div>
    </ng-container>
</div>