@import 'src/styles/variables';

/*[start] new style*/

.explore-page {
    padding: 48px;
    padding-left: calc(2vw + 48px);

    .section-header {
        h2 {
            font-size: 2.8rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        p {
            font-size: 1.25rem;
            opacity: 0.85;
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }
    }

    .search-box {
        background: #fff;
        height: 40px;
        padding: 0 10px;
        display: flex;
        width: 100%;
        align-items: center;
        border-radius: 30px;
        border: solid 1px #111;



        button {
            width: 22px;
            height: 22px;
            background: none;
            border: none;
            cursor: pointer;

            font-size: 0.85rem;
            padding: 0.2rem;
            line-height: 1;
        }

    }

    .search-box input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: none;
        box-shadow: none;
        height: 40px;
        border: 0;
        width: 100%;
        font-size: 1rem;
    }

    .search-box input:focus {
        outline: 0 !important;
    }

    .explore-search-filters {
        display: flex;
        padding: 16px 0;
        gap: 16px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .course-access {
        flex-shrink: 0;
    }

    .course-access select {
        height: 40px;
        padding: 0 20px 0 10px;
        display: flex;
        width: 100%;
        align-items: center;
        border-radius: 30px;
        border: solid 1px #111;
        max-width: 500px;
    }

    .search-count {
        padding: 0 0 16px;
        font-size: .875rem;
        display: flex;
        gap: 16px;
        align-items: baseline;
        max-width: 1200px;
        margin: 0 auto;

        a {
            color: $accent-color;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .course-listing {
        padding-top: 0;
        margin: 0 auto;
        max-width: 1200px;
    }

    .section-header {
        padding-bottom: 2rem;
    }

    .no-results {
        text-align: center;
    }
}



/*[end] new style*/