<!-- Error toast (same container pattern as program details enrollment success) -->
<div class="toast-container" *ngIf="showErrorToast && errorMessage">
  <div class="toast-notification error">
    <span class="toast-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px" aria-hidden="true">
        <circle cx="24" cy="24" r="20" fill="#e53935" />
        <path fill="#fff" d="M22 14h4v16h-4V14zm0 20h4v4h-4v-4z" />
      </svg>
    </span>
    <div class="toast-message">{{ errorMessage }}</div>
  </div>
</div>

<div class="learning-environment skeleton-loading" *ngIf="isLoading">
  <div class="learning-header">
    <div class="title-area">
      <div class="skeleton-back-link skeleton"></div>
      <div class="skeleton-title skeleton"></div>
    </div>
    <div class="nav-actions">
      <div class="skeleton-nav-btn skeleton"></div>
      <div class="skeleton-nav-btn skeleton"></div>
    </div>
  </div>

  <div class="learning-main">
    <main class="player-area">
      <div class="content-viewport">
        <div class="skeleton-media skeleton"></div>
        <div class="skeleton-text-content">
          <div class="skeleton-line skeleton"></div>
          <div class="skeleton-line skeleton"></div>
          <div class="skeleton-line skeleton short"></div>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="learning-environment" *ngIf="!isLoading && lesson">
  <div class="learning-header">
    <div class="title-area">
      <a (click)="goToCatalog()" class="back-link"><svg fill="#000000" xmlns="http://www.w3.org/2000/svg" width="64px"
          height="64px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M48.6,23H15.4c-0.9,0-1.3-1.1-0.7-1.7l9.6-9.6c0.6-0.6,0.6-1.5,0-2.1l-2.2-2.2c-0.6-0.6-1.5-0.6-2.1,0 L2.5,25c-0.6,0.6-0.6,1.5,0,2.1L20,44.6c0.6,0.6,1.5,0.6,2.1,0l2.1-2.1c0.6-0.6,0.6-1.5,0-2.1l-9.6-9.6C14,30.1,14.4,29,15.3,29 h33.2c0.8,0,1.5-0.6,1.5-1.4v-3C50,23.8,49.4,23,48.6,23z">
            </path>
          </g>
        </svg></a>
      <h3>{{ lesson.title }}</h3>
    </div>
    <div class="nav-actions">
      <button class="btn-nav" (click)="goToPreviousContent()" [disabled]="!previous_module_content"
        aria-label="Previous">
        <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;"
          xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" width="64px" height="64px" viewBox="0 0 42 42"
          xml:space="preserve" transform="rotate(180)">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <polygon fill-rule="evenodd" points="13.933,1 34,21.068 14.431,40.637 9.498,35.704 24.136,21.068 9,5.933 ">
            </polygon>
          </g>
        </svg>
      </button>
      <button class="btn-nav next" (click)="goToNextContent()" [disabled]="!next_module_content" aria-label="Next">
        <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;"
          xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" width="64px" height="64px" viewBox="0 0 42 42"
          xml:space="preserve">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <polygon fill-rule="evenodd" points="13.933,1 34,21.068 14.431,40.637 9.498,35.704 24.136,21.068 9,5.933 ">
            </polygon>
          </g>
        </svg>
      </button>
    </div>
  </div>


  <div class="learning-main">
    <!-- Main Content Area -->
    <main class="player-area">
      <div class="content-viewport">
        <!-- If it's a video, show video player. Placeholder for now -->
        <div class="video-container" *ngIf="lesson.content_type === 'VIDEO'">
          <img
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&auto=format&fit=crop&w=1200&q=80"
            alt="Video Placeholder">
          <div class="play-button-large">▶</div>
        </div>

        <div class="document-container" *ngFor="let file of files">
          <app-file-viewer [file]="file" (onNextContentAvailable)="onNextContentAvailable($event)"
            [program_id]="program_id" [module_id]="module_id"></app-file-viewer>
        </div>

        <div class="text-content py-4" *ngIf="lesson.context_text">
          <div class="article-body" [innerHTML]="lesson.context_text"></div>
        </div>
      </div>

      <!-- Action Footer -->
      <!-- <footer class="player-footer">
        <div class="footer-left">
          <button class="btn-footer active">Overview</button>
          <button class="btn-footer">Q&A</button>
          <button class="btn-footer">Notes</button>
          <button class="btn-footer">Resources</button>
        </div>
        <div class="footer-right">
          <button class="btn-primary" *ngIf="next_module_content" (click)="goToNextContent()">Next Lecture ⮕</button>
          <button class="btn-primary" *ngIf="!next_module_content" (click)="markAsComplete()">Finish Section ⮕</button>
        </div>
      </footer> -->
    </main>

    <!-- Sidebar: Course Content -->

  </div>
</div>